<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.StudentMapper">
    <insert id="insert">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
            SELECT REPLACE
            (UUID(),'-','') as id
        </selectKey>
        insert into student(id,name,score,groupId) values (#{id},#{name},#{score},#{groupId})
    </insert>

    <!--<resultMap type="com.example.demo.pojo.ExcelUser" id="UserDaoResult">
        <id     property="id"   column="id"   />
        <result property="name"   column="name"   />
        <result property="pwd"  column="pwd"  />
        <result property="userIntroduce"  column="user_introduce"  />
    </resultMap>-->


    <select id="selectAll" resultType="com.example.demo.pojo.Student">

        select * from student
    </select>
</mapper>
